<nav class="w-100 bg-dark text-white px-1 py-1 px-lg-4 py-lg-2">
  <h4 class="mb-0 d-inline-block cursor-pointer logo px-2" [routerLink]="['/']">
    <i class="fa fa-smile-o mr-1"></i>
    MiPiace
  </h4>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<div class="position-fixed border-top border-light text-center bg-dark w-100 py-lg-4 px-lg-5"
     style="bottom:0; left:0; margin-top: -200px">
  <small class="text-white m-0">Direzione Centrale per le Risorse Logistiche e Strumentali<br/>
    Ufficio per le Tecnologie dell'Informazione e della Comunicazione</small>
</div>
