<div class="row mt-lg-5">
    <div *ngIf="!service" class="col-lg-6 mx-auto mt-5 text-center border border-light px-0 shadow-sm">
        <div class="bg-secondary py-4">
            <h3 class="text-white">Crea ora il tuo servizio</h3>
        </div>
        <div class="py-4">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="form-group mt-4">
                        <it-input [label]="'Testo della domanda'"
                                  [placeholder]="'Indica qui il testo della domanda'"
                                  [type]="'text'" [formControl]="welcomeMessage"
                                  [note]="'Questo campo è obbligatorio'">
                        </it-input>
                    </div>
                    <it-button [color]="'dark'" [size]="'lg'" [disabled]="!welcomeMessage.valid"
                               (click)="onSubmit()">
                        Crea il servizio
                    </it-button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!!service" class="col">
        <div class="col-lg-6 mx-auto mt-5 text-center border border-light px-0 shadow-sm">
            <div class="bg-success py-4">
                <h5 class="text-white">Ecco il tuo servizio:</h5>
                <h6 class="text-white font-weight-lighter">{{ service.welcomeMessage }}</h6>
            </div>
            <div class="py-4">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <p class="card-text">
                            Ecco il link pubblico per compilare il sondaggio:<br>
                          <a href="#" class="card-link" routerLink="{{getPublicLink()}}" target="_blank">{{getPublicLink()}}</a>
                          <it-button size="sm" class="btn btn-block btn-secondary" ngbTooltip="Copia link publico" placement="bottom"
                                     ngxClipboard [cbContent]="getPublicLink(true)">
                            <i class="fa fa-clipboard"></i>
                          </it-button>
                        </p>
                        <hr>
                        <p class="card-text">
                            Ecco il link <b>privato</b> per accedere alle statistiche:<br>
                          <a href="{{getPrivateLink()}}" class="card-link" target="_blank">{{getPrivateLink()}}</a>
                          <it-button size="sm" class="btn btn-block btn-secondary" ngbTooltip="Copia link privato" placement="bottom"
                                     ngxClipboard [cbContent]="getPrivateLink(true)">
                            <i class="fa fa-clipboard"></i>
                          </it-button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
