<div class="row">
    <div *ngIf="!service" class="col">
        <div class="h5 mt-5 text-center">
            Crea ora il tuo servizio.
        </div>
        <div class="m-2">
            <div class="form-group">
                <input type="text" class="form-control" [formControl]="welcomeMessage"
                    aria-describedby="welcomeMessageHelp" placeholder="Indica qui il testo della domanda">
                <small id="createServiceHelp" class="form-text text-muted">Questo campo è obbligatorio</small>
            </div>

            <button type="button" class="btn btn-primary" [disabled]="!welcomeMessage.valid" (click)="onSubmit()">Crea il servizio</button>
        </div>
    </div>

    <div *ngIf="!!service" class="col">
        <div class=" m-5 card">
            <div class="card-body">
              <h5 class="card-title">Ecco il tuo servizio</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ service.welcomeMessage }}</h6>
              <p class="card-text">
                Ecco il link pubblico per compilare il sondaggio:
                <a href="#" class="card-link" routerLink="/sendRating">{{ getPublicLink() }}</a>
              </p>
              <p class="card-text">
                Ecco il link <b>privato</b> per accedere alle statistiche:
                <a href="#" class="card-link">{{ getPrivateLink() }}</a>
              </p>
            </div>
          </div>
    </div>
</div>