<div class="row mt-lg-5">
  <div class="col-lg-6 mx-auto mt-lg-5 text-center border border-light px-0 shadow-sm">
    <div class="bg-danger text-white py-4">
      <p class="h3">
        <i class="fa fa-exclamation-triangle mr-1"></i>
        Accidenti!
      </p>
      <p class="h6 font-weight-lighter mb-0">Se non indichi il servizio per cui vuoi lasciare il feedback...
        è
        complicato!</p>
    </div>
    <div class="row mt-5 py-4">
      <div class="col-lg-9 mx-auto">
        <app-search-service></app-search-service>
      </div>
    </div>
  </div>
</div>
