<ng-container *ngIf="data && data.length > 0">
  <ngx-charts-pie-grid
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    label="Totale"
    [tooltipDisabled]="true"
    (select)="onSelect($event)">
  </ngx-charts-pie-grid>
<!--  <ngx-charts-pie-chart-->
<!--    [view]="view"-->
<!--    [explodeSlices]="true"-->
<!--    [scheme]="colorScheme"-->
<!--    [results]="data"-->
<!--    [gradient]="gradient"-->
<!--    [legend]="showLegend"-->
<!--    [legendTitle]="legendLabel"-->
<!--    legendPosition="below"-->
<!--    (select)="onSelect($event)">-->
<!--  </ngx-charts-pie-chart>-->
</ng-container>
