<div class="row">
    <div class="col">
        <div class="h5 mt-5 text-center">
            Grazie per averci inviato la tua valutazione. Ora puoi fare di più.
        </div>
        <form class="m-2" [formGroup]="feedbackDetailForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <textarea class="form-control" type="text" formControlName="text" rows="8"
                    aria-describedby="detailHelp" placeholder="Descrivi qui il problema occorso oppure indica dei suggerimenti per il miglioramento del servizio." required>
                </textarea>
                <small id="detailHelp" class="form-text text-muted">Questo campo è obbligatorio</small>
            </div>

            <div class="form-group">
                <input class="form-control" type="text" aria-describedby="usernameHelp"
                    placeholder="Inserisci qui il tuo nome e l'affiliazione." formControlName="username" />
                <small id="usernameHelp" class="form-text text-muted">Puoi lasciare questo campo vuoto</small>
            </div>

            <div class="form-group">
                <textarea class="form-control" type="text" aria-describedby="contactsHelp"
                    placeholder="Inserisci qui i tuoi riferimenti, ai quali sarai eventualmente contattato."
                    formControlName="contacts"></textarea>
                <small id="contactsHelp" class="form-text text-muted">Puoi lasciare questo campo vuoto</small>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!feedbackDetailForm.valid">Invia feedback</button>
        </form>
    </div>
</div>