<div class="row mt-lg-5">
  <div *ngIf="notFound" class="col-lg-6 mx-auto mt-lg-5 text-center border border-light px-0 shadow-sm">
    <div class="bg-danger py-4">
      <h3 class="text-white mb-0">
        <i class="icon-crying">&#xe800;</i>
        Servizio non trovato
      </h3>
    </div>
    <div class="py-4">
      <it-button [color]="'dark'" [size]="'lg'" [routerLink]="['/statistics']">
        <i class="fa fa-arrow-left mr-1"></i>
        Torna indietro e riprova
      </it-button>
    </div>
  </div>
</div>

<ng-container *ngIf="feedbackResult">
  <div class="row">
    <div class="col-12">
      <div class="h3 text-center">{{title}}</div>
    </div>
    <div class="col-lg-9 mx-auto my-3">
      <div class="row">
        <div class="col-md-6">
          <app-average-bar-chart [feedbackAverageScores]="feedbackAverageScores"
                                 [title]="title"></app-average-bar-chart>
        </div>
        <div class="col-md-6">
          <app-statistiche-pie-chart [facetStatistiche]="facetStatistiche" [title]="title"></app-statistiche-pie-chart>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="feedbacks">
  <div class="row bg-primary mt-3 pt-4 pb-5">
    <div class="col-lg-9 mx-auto">
      <h4 class="text-white">Lista feedback</h4>
      <hr class="bg-light">
    </div>
    <div class="col-lg-8 mx-auto mt-2">
      <div class="h5">
        <app-rate *ngFor="let feedback of feedbacks" [feedback]="feedback" (onDetail)="onDetail($event)"></app-rate>
      </div>
    </div>
  </div>
</ng-container>
