<div class="row mt-lg-5">
  <div class="col-lg-6 mx-auto mt-lg-5 text-center border border-light px-0 shadow-sm">
    <div class="bg-danger py-4">
      <h3 class="text-white">
        <i class="custom-icon">&#xe805;</i>
        Accidenti!
      </h3>
      <h6 class="font-weight-lighter text-white mb-0">Questa pagina non esiste. Qualcosa di veramente brutto è
        accaduto!</h6>
    </div>
    <div class="py-4">
      <it-button [color]="'dark'" [size]="'lg'" [routerLink]="['/']">
        <i class="fa fa-arrow-left mr-1"></i>
        Torna indietro e riprova
      </it-button>
    </div>
  </div>
</div>
