<div class="row justify-content-center text-center">
    <!-- spinner -->
    <div *ngIf="!welcomeMessage" class="col">
        <img src="../../../assets/images/spinner.gif" alt="welcome">
    </div>

    <!-- form -->
    <div *ngIf="!!welcomeMessage" class="col">
        <div>
            <p class="h2 title-text">{{ welcomeMessage }}</p>
        </div>
        <div>
            <a routerLink="/sendRating" (click)="sendRating('poor')"><img alt="scarso" class="smile"
                    src="../../../assets/images/poor.png" /></a>
            <a routerLink="/sendRating" (click)="sendRating('fair')"><img alt="senza lode e senza infamia" class="smile"
                    src="../../../assets/images/fair.png" /></a>
            <a routerLink="/sendRating" (click)="sendGoodRating()"><img alt="buono!" class="smile"
                    src="../../../assets/images/good.png" /></a>
        </div>
    </div>
</div>
