<div class="row mt-lg-5">
  <!-- spinner -->
  <!--  <div *ngIf="!welcomeMessage" class="col">-->
  <!--    <img src="../../../assets/images/spinner.gif" alt="welcome">-->
  <!--  </div>-->
  <!-- spinner -->
  <div *ngIf="!welcomeMessage && noMessage" class="col-lg-6 mx-auto mt-lg-5 text-center border border-light px-0 shadow-sm">
    <div class="bg-danger py-4">
      <h3 class="text-white mb-0">
        <i class="custom-icon">&#xe800;</i>
        Servizio non trovato
      </h3>
    </div>
    <div class="py-4">
      <it-button [color]="'dark'" [size]="'lg'" [routerLink]="['/']">
        <i class="fa fa-arrow-left mr-1"></i>
        Torna indietro e riprova
      </it-button>
    </div>
  </div>

  <!-- form -->
  <div *ngIf="!!welcomeMessage" class="col-lg-9 mx-auto mt-5 text-center border border-light shadow-sm px-0">
    <div class="bg-secondary text-white px-3 py-4">
      <h3 class="text-center mb-0">{{ welcomeMessage }}</h3>
    </div>
    <div class="py-5">
      <a class="score" routerLink="/sendRating" (click)="sendRating('poor')">
        <img alt="scarso" src="../../../assets/images/poor.png"/>
      </a>
      <a class="score" routerLink="/sendRating" (click)="sendRating('fair')">
        <img alt="senza lode e senza infamia" src="../../../assets/images/fair.png"/>
      </a>
      <a class="score" routerLink="/sendRating" (click)="sendGoodRating()">
        <img alt="buono!" src="../../../assets/images/good.png"/>
      </a>
    </div>
  </div>
</div>
