@import '../node_modules/bootstrap-italia/dist/css/bootstrap-italia.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

@font-face {
  font-family: 'mipiace';
  src: url('./assets/fonts/mipiace.eot?96676690');
  src: url('./assets/fonts/mipiace.eot?96676690#iefix') format('embedded-opentype'),
  url('./assets/fonts/mipiace.woff?96676690') format('woff'),
  url('./assets/fonts/mipiace.ttf?96676690') format('truetype'),
  url('./assets/fonts/mipiace.svg?96676690#mipiace') format('svg');
  font-weight: normal;
  font-style: normal;
}
